body {
    text-align: center;
}

.button {
    background-color: rgb(91, 155, 213);
    width: 200px;
    height: 50px;
    color: white;
    display: inline-block;
    padding-top: 15px;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}