<div ng-controller="ProfileController">
	<span id="name">{{user.name}}</span>
	<span id="user-search">
		<input type="text" id="search-users" ng-model="userSearchText" ng-change="getUsersByName(userSearchText)" placeholder="Search..." />
	</span>
	<span id="options-menu">
		<a href="#/" class="navigation-button">News Feed</a>
		<a ng-click="pendingFriendRequestsClicked()" class="navigation-button">Pending Friend Requests</a><span id="requests-number">{{numberOfFriendRequests}}</span>
		<a href="#/profile" class="navigation-button">Edit Profile</a>
		<a href="#/profile/password" class="navigation-button">Change Password</a>
		<a href="#/logout" class="navigation-button">Logout</a>
	</span>
	<span>
		<img src="{{user.profileImageData}}" id="profile-image" />
	</span>
	<hr>
	<h3>News Feed</h3>
	<hr>
	<ul type="none" ng-if="foundUsersExist" id="found-users-list">
		<li ng-repeat="user in foundUsers">
			<div class="user-container">
				<div>
					<img ng-if="user.profileImageData" class="found-user-image" src="{{user.profileImageData}}" />
				</div>
				<div>{{user.name}}</div>
			</div>
		</li>
		<a ng-click="hideFoundUsers()" class="button">Hide</a>
	</ul>
	<ul type="none" ng-if="friendRequestsExist" id="friend-request-list">
		<li ng-repeat="friendRequest in friendRequests">
			<div class="friend-request-container" id="{{friendRequest.id}}">
				<div>
					<img ng-if="friendRequest.user.profileImageData" class="friend-request-user-image" src="{{friendRequest.user.profileImageData}}">
				</div>
				<div>{{friendRequest.user.name}}</div>
				<div>
					<a ng-click="acceptFriendRequest(friendRequest.id)" class="request-button">Accept</a>
					<a ng-click="rejectFriendRequest(friendRequest.id)" class="request-button">Reject</a>
				</div>
			</div>
		</li>
		<a ng-click="hideFriendRequests()" class="button">Hide</a>
	</ul>
	<div id="friends-list">
		<div id="friends-count">Friends - <a href="#/profile/friends">{{friendsCount}}</a> total</div>
		<div>
			<span ng-repeat="friend in sixFriends" class="friend-container">
				<a href="#/users/{{friend.username}}">
					<img ng-if="friend.profileImageData" src="{{friend.profileImageData}}" class="friend-profile-image" />
					<span ng-if="friend.profileImageData" class="friend-name-with-image">
						{{friend.name}}
					</span>
					<span ng-if="!friend.profileImageData" class="friend-name-without-image">
						{{friend.name}}
					</span>
				</a>
			</span>
		</div>
	</div>
</div>