<form id="register-form">
	<div class="col-md-6">
		<label for="username">Username</label><br />
		<label for="password">Password</label><br />
		<label for="confirm-password">Confirm Password</label><br />
		<label for="name">Name</label><br />
		<label for="email">Email</label><br />
		<label>Gender</label>
	</div>
	<div class="col-md-6">
		<input type="text" id="username" ng-model="userData.username" required><br />
		<input type="password" id="password" ng-model="userData.password" required><br />
		<input type="password" id="confirm-password" ng-model="userData.confirmPassword" required><br />
		<input type="text" id="name" ng-model="userData.name" required><br />
		<input type="email" id="email" ng-model="userData.email" required>
		<input type="radio" id="gender" name="gender" value="male" ng-model="userData.gender">Male
		<input type="radio" id="gender" name="gender" value="female" ng-model="userData.gender">Female
		<input type="radio" id="gender" name="gender" value="other" ng-model="userData.gender">Other
	</div>
	<a href="#/home" class="button">Register</a>
</form>